<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LG</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SecuritBean</display-name>
    <servlet-name>SecuritBean</servlet-name>
    <servlet-class>Security.SecuritBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecuritBean</servlet-name>
    <url-pattern>/SecuritBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionProvider</display-name>
    <servlet-name>ConnectionProvider</servlet-name>
    <servlet-class>Security.ConnectionProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionProvider</servlet-name>
    <url-pattern>/ConnectionProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Security</display-name>
    <servlet-name>Security</servlet-name>
    <servlet-class>Security.Security</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Security</servlet-name>
    <url-pattern>/Security</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lg.Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout1</display-name>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>lg.Servlet.Logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/Logout1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>lg.Servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>lg.Servlet.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequest</display-name>
    <servlet-name>ViewRequest</servlet-name>
    <servlet-class>lg.Servlet.ViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequest</servlet-name>
    <url-pattern>/ViewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>lg.Servlet.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDetails</display-name>
    <servlet-name>CardDetails</servlet-name>
    <servlet-class>lg.Servlet.CardDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDetails</servlet-name>
    <url-pattern>/CardDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>lg.Servlet.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUser</display-name>
    <servlet-name>ViewUser</servlet-name>
    <servlet-class>lg.Servlet.ViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUser</servlet-name>
    <url-pattern>/ViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCard</display-name>
    <servlet-name>ViewCard</servlet-name>
    <servlet-class>lg.Servlet.ViewCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCard</servlet-name>
    <url-pattern>/ViewCard</url-pattern>
  </servlet-mapping>
</web-app>